<div class="graphDiv">
    <mat-form-field>
        <input matInput [matDatepicker]="dp2" placeholder="" (dateChange)="handleDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2 startView="multi-year" ></mat-datepicker>
    </mat-form-field>

    <ngx-charts-bar-vertical-2d
    [results]="BudgetChartData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [scheme]="colorScheme">
    </ngx-charts-bar-vertical-2d>
</div>