
mat-tab-group {
    margin: 20px auto;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
    --mdc-tab-indicator-active-indicator-color: red;
    --mat-tab-header-active-label-text-color: red !important;
    --mat-tab-header-active-ripple-color: red;
    --mat-tab-header-active-focus-label-text-color: red;
    --mat-tab-header-active-hover-label-text-color: red;
    --mat-tab-header-active-focus-indicator-color: red;
    --mat-tab-header-active-hover-indicator-color: red;
}

  